<ul class="table-pagination" *ngIf="paginationData.totalPages && paginationData.totalPages > 1">
  <li [ngClass]="{'disabled':!hasPrevious()}" class="table-pagination-clickable" (click)="changePage(1, hasPrevious())">
    <<
  </li>
  <li [ngClass]="{'disabled':!hasPrevious()}" class="table-pagination-clickable"
      (click)="changePage(paginationData.currentPage - 1, hasPrevious())">
    <
  </li>
  <span *ngFor="let pageNum of pages">
    <li *ngIf="isPageInRange(pageNum)"  (click)="changePage(pageNum, true)"
        [ngClass]="{'current':pageNum === paginationData.currentPage}" class="page-number table-pagination-clickable">
      {{ pageNum }}
    </li>
  </span>
  <li *ngIf="displayLastPage()">
    ...
  </li>
  <li *ngIf="displayLastPage()" [ngClass]="{'disabled':!hasNext()}" class="page-number table-pagination-clickable">
    <span (click)="changePage(paginationData.totalPages, hasNext())">{{  paginationData.totalPages  }}</span>
  </li>
  <li [ngClass]="{'disabled':!hasNext()}" class="table-pagination-clickable"
      (click)="changePage(paginationData.currentPage + 1, hasNext())">
    >
  </li>
  <li [ngClass]="{'disabled':!hasNext()}" class="table-pagination-clickable" (click)="changePage(paginationData.totalPages, hasNext())">
    >>
  </li>
</ul>