<ul class="table-pagination" *ngIf="totalPage && totalPage > 1">
  <li [ngClass]="{'disabled':!hasPrevious()}" class="table-pagination-clickable" (click)="changePage(1, hasPrevious())">First</li>
  <li [ngClass]="{'disabled':!hasPrevious()}" class="table-pagination-clickable">
    <span (click)="changePage(currentPage - 1, hasPrevious())"><<</span>
  </li>
  <span *ngFor="let page of pages">
    <li *ngIf="isPageInRange(page)"  (click)="changePage(page, true)"
        [ngClass]="{'current':page === currentPage}" class="page-number table-pagination-clickable">
      {{ page }}
    </li>
  </span>
  <li *ngIf="displayLastPage()">
    ...
  </li>
  <li *ngIf="displayLastPage()" [ngClass]="{'disabled':!hasNext()}" class="page-number table-pagination-clickable">
    <span (click)="changePage(totalPage, hasNext())">{{  totalPage  }}</span>
  </li>
  <li [ngClass]="{'disabled':!hasNext()}" class="table-pagination-clickable">
    <span (click)="changePage(currentPage + 1, hasNext())">>></span>
  </li>
  <li [ngClass]="{'disabled':!hasNext()}" class="table-pagination-clickable" (click)="changePage(totalPage, hasNext())">Last</li>
</ul>